body {
  font-family: OpenSans;
}

li {
  display: list-item;
}

.breadcrumbs {
  font-family: 'lato-bold';
  margin-bottom: 0px;
  margin-top: 5px;
}

.aboutImage {
	margin-top: 25px;
	width: 300px;
}
.article {
  background: #FF6978;
  margin-bottom: -5px;
	padding-right: 400px;
}
.articletitle {
  color: white !important;
  font-family: 'lato';
}

.navtitle {
  font-family: 'lato-bold';
}

.sectiontitle {
  color: white !important;
  font-family: 'lato-bold';
  font-size: .9em;
}

.sectiontitle:hover {
  background-image: linear-gradient(120deg, #1D62E2 0%, #1D62E2 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 94%;
  transition: background-size 0.25s ease-in;
}

.bodytext {
  font-size: 1.2em;
  margin-top: 1em;
}

.description {
	font-family: OpenSans !important;
}

.emberfont {
	color: #07003b;
	letter-spacing: 1px;
}

.emberlogo {
    padding-left: 30px;
}

.embernav {
	background: #FFFFFF;
}

.navitem:hover {
	background: #FFFFFF !important;
}

.navitemtext {
	color: #07003b;
}

.navitemtext:hover {
  background-image: linear-gradient(120deg, #1D62E2 0%, #1D62E2 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 94%;
  transition: background-size 0.25s ease-in;
}

.background {
	background: #FF6978;
	color: white;
	padding-right: 10px;
}

@font-face {
    font-family: lato;
    src: url(Lato-Regular.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(Lato-Bold.ttf);
}

@font-face {
	font-family: OpenSans;
	src: url(OpenSans-Regular.ttf);
}

/* Plants Section */
.plant {
  margin-top: 15px;
}

.plantContent {
  font-size: 1.25em;
}

.plantSection {
  font-family: 'lato-bold';
  font-size: 1.5em;
  text-decoration: underline #1D62E2;
}

.plantTitle {
  font-family: 'lato-bold';
  font-size: 3em;
  margin-top: -15px;
  text-decoration: underline #1D62E2;
}

/* Learning Section */
.learningSection {
  font-family: 'lato-bold';
  font-size: 2em;
  text-decoration: underline #1D62E2;
}

.learningTitle {
  font-family: 'lato-bold';
  font-size: 3em;
  text-decoration: underline #1D62E2;
}

/* About Section */
.aboutTitle {
  font-family: 'lato-bold';
  font-size: 3em;
  margin-top: 5px;
}

