/* Element styling */
body {
  font-family: 'Open Sans';
  font-size: 1.1em;
}

blockquote {
  border-left: 5px solid #1D62E2;
}

li {
  display: list-item;
}

/* Styling for syntax highlighting */
code[class*="language-"],
pre[class*="language-"] {
  padding: 15px;
  tab-size: 2 !important;
  white-space: pre-wrap !important;
}

code[class*="multi"],
pre[class*="multi"] {
  padding: 0 !important;
}

.article {
  background: #FF6978;
  color: white !important;
  margin-bottom: -5px;
}

.articleTitle:hover {
  background-image: linear-gradient(120deg, #1D62E2 0%, #1D62E2 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 94%;
  transition: background-size 0.25s ease-in;
}

.styledFont {
	color: #07003b;
	letter-spacing: 1px;
}

.navitemtext {
  color: #07003b;
  font-family: 'Open Sans';
  letter-spacing: 1px;
}

.navitemtext:hover {
  background-image: linear-gradient(120deg, #1D62E2 0%, #1D62E2 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 94%;
  transition: background-size 0.25s ease-in;
}

.background {
	background: #FF6978;
	color: white;
	padding-right: 10px;
}

/* Learning Section */
.learningSection {
  font-family: 'Lato';
  font-size: 2em;
  font-weight: 900;
  text-decoration: underline #1D62E2;
}

.learningTitle {
  font-family: 'Lato';
  font-size: 3em;
  font-weight: 900;
  text-decoration: underline #1D62E2;
}

