
<div class="row">
  <h1 class="emberfont col s6 offset-s1"> Plants </h1>
  <p class="emberfont bodytext col s10 offset-s1">
    Simple guides for taking care of your house plants.
  </p>
  {{#each model as |plant|}}
    <div class="row">
      <h3 class="article emberfont col s5 offset-s2">
        <a href="/plants/{{plant.name}}">
          <span class="sectiontitle"> {{plant.name}} </span>
        </a>
      </h3>
      <p class="emberfont bodytext col s6 offset-s2">
        {{plant.description}}
      </p>
    </div>
  {{/each}}
</div>