
<div class="flex-row ml-56">
  <SectionTitle @subtitle="Simple guides for taking care of your house plants." @title="Plants" />
  {{#each model as |plant|}}
    <Card
      @href={{concat "/plants/" plant.name}}
      @subtitle={{plant.description}}
      @title={{plant.name}}
    />
  {{/each}}
</div>