<div class="row">
  <img src='/assets/images/umbrella.png' alt='Umbrella plant' class='col s6 offset-s3 plant'>
</div>
<div class="row">
  <h1 class="center-align emberfont plantTitle"> Umbrella Plants </h1>
</div>
<div class="row">
  <span class="col s8 offset-s2">
    <p>
      <span class="emberfont plantSection"> Latin names:</span>
      <span class="plantContent">
        Schefflera Arabicola and Schefflera Actinophylla. If you don't know which one you have a plant length of less than four or five inchese means you probably have the latter.
      </span>
    </p>
    <p>
      <span class="emberfont plantSection"> Umbrella plant growing conditions:</span>
      <span class="plantContent">
        Umbrella plants do best in bright, inderect light.
        I've noticed with umbrella plants I sometimes need to rotate them out of bright light since the umbrella plant I have is variegated.
        If you have a variegated plant an increase of variegation can mean too much light and a decrease in variegation means too little light.
      </span>
    </p>
    <p>
      <span class="emberfont plantSection"> Watering your umbrella plant:</span>
      <span class="plantContent">
        The most important thing about watering your umbrella plant is to let the soil dry out between waterings.
        When it is dried out empty the drainage saucer then water.
        I water my small umbrella plant every eight days that gets a moderate amount of sun.
      </span>
    </p>
  </span>
</div>
<div class="row">
  <img src='/assets/images/umbrella2.png' alt='Umbrella plant' class='col s4 offset-s4 plant'>
</div>