<div class="mb-12 ml-6 md:ml-56 lg:ml-64 w-4/5 md:w-3/5 lg:w-3/5">
  <img src='/assets/images/umbrella.png' alt='Umbrella plant' class='mb-6 mt-6 ml-auto mr-auto w-3/4'>
<div class="row">
  <h1 class="font-sans text-5xl styledFont"> Umbrella Plants </h1>
</div>
<div class="row">
  <span class="col s8 offset-s2">
    <p class="mb-2">
      <h4 class="font-sans mb-2 text-4xl"> Latin names:</h4>
      Schefflera Arabicola and Schefflera Actinophylla. If you don't know which one you have a plant length of less than four or five inchese means you probably have the latter.
    </p>
    <p class="mb-2">
      <h4 class="font-sans mb-2 text-4xl"> Umbrella plant growing conditions:</h4>
      Umbrella plants do best in bright, inderect light.
      I've noticed with umbrella plants I sometimes need to rotate them out of bright light since the umbrella plant I have is variegated.
      If you have a variegated plant an increase of variegation can mean too much light and a decrease in variegation means too little light.
    </p>
    <p class="mb-2">
      <h4 class="font-sans mb-2 text-4xl"> Watering your umbrella plant:</h4>
      The most important thing about watering your umbrella plant is to let the soil dry out between waterings.
      When it is dried out empty the drainage saucer then water.
      I water my small umbrella plant every eight days that gets a moderate amount of sun.
    </p>
  </span>
  </div>
  <img src='/assets/images/umbrella2.png' alt='Umbrella plant' class='mb-6 mt-6 ml-auto mr-auto w-1/2'>
</div>