<div class="row">
  <h1 class="emberfont navtitle col s6 offset-s1"> This Week I Learned </h1>
  <p class="emberfont bodytext col s10 offset-s1">
    I mostly write in Ember and I still haven't completely grasped the Ember way of doing things, which sometimes makes my day much more difficult.
    As part of my effort of trying to come to grips with the Ember way I thought I'd at least start by going over the concepts.
  </p>
  {{#each model as |week|}}
  <div class="row">
    <h3 class="article emberfont col s5 offset-s2">
      <a href="/learning/twil/{{week.number}}">
        <span class="sectiontitle"> {{week.name}} </span>
      </a>
    </h3>
    <p class="emberfont bodytext col s6 offset-s2">
      {{week.description}}
    </p>
  </div>
  {{/each}}
</div>