<div class="flex-row ml-56">
  <SectionTitle 
    @subtitle="Sometimes weekly groups of things that I learned which I found helpful or interesting." 
    @title="This Week I Learned" 
  />
  {{#each model as |week|}}
    <Card
      @href={{concat "/learning/twil/" week.number}}
      @subtitle={{week.description}}
      @title={{week.name}}
    />
  {{/each}}
</div>