<div class="row">
  <h1 class="emberfont navtitle col s6 offset-s1">Learning</h1>
  	<p class="emberfont bodytext col s10 offset-s1">
      I'm new to the whole engineering thing and as such I spend a good part of my day learning and cementing concepts.
      Many times this happens very slowly and only sticks with repetition.
      This is to help make these concepts click with me more quickly.
    </p>
  <div class="row">
    <h3 class="article emberfont col s5 offset-s2">
      <a href="/learning/ember">
        <span class="sectiontitle"> Ember Concepts </span>
      </a>
    </h3>
    <p class="emberfont bodytext col s6 offset-s2">
      Trying to solidify Ember fundamentals one by one.
    </p>
  </div>
  <div class="row">
    <h3 class="article emberfont col s5 offset-s2">
      <a href="/learning/twil">
        <span class="sectiontitle"> This Week I Learned </span>
      </a>
    </h3>
    <p class="emberfont bodytext col s6 offset-s2">
      A list of the helpful things I learned each week.
    </p>
  </div>
</div>