<div class="row">
  <h1 class="emberfont col s6 offset-s1"> Learning</h1>
  	<p class="emberfont bodytext col s10 offset-s1">
      I'm new to the whole engineering thing and as such I spend a good part of my day learning and cementing concepts.
      Many times this happens very slowly and only sticks with repetition.
      This is to help make these concepts click with me more quickly.
    </p>
  <div class="row">
    <h3 class="article emberfont col s5 offset-s2">
      <a href="/learning/ember">
        <span class="sectiontitle"> Ember Concepts </span>
      </a>
    </h3>
    <p class="emberfont bodytext col s6 offset-s2">
      Trying to solidify Ember fundamentals one by one.
    </p>
  </div>
  <div class="row">
    <h3 class="article emberfont col s5 offset-s2">
      <a href="/learning/cs50">
        <span class="sectiontitle"> Harvard CS50 </span>
      </a>
    </h3>
    <p class="emberfont bodytext col s6 offset-s2">
      I'm taking the Harvard CS50 computer science course. It is free online and great so far. I thought this would be
      a good place to leave some summaries every few lectures or so.
    </p>
  </div>
</div>