<div class="flex-row ml-56">
  <h1 class="font-sans text-6xl styledFont">Learning</h1>
  	<p class="styledFont mb-6 mt-6 text-xl w-5/6">
      Helpful resources as I learn engineering things. Will probably focus on Javascript and frontend things since that is what
      I use in my day-to-day work.
    </p>
  <div class="flex-row mb-6 ml-6 w-1/3">
    <h3 class="h-12 article styledFont">
      <a href="/learning/ember">
        <span class="font-medium ml-6 text-3xl articleTitle"> Ember Concepts </span>
      </a>
    </h3>
    <p class="styledFont mt-6 text-l">
      Trying to solidify Ember fundamentals one by one.
    </p>
  </div>
  <div class="flex-row ml-6 w-1/3">
    <h3 class="h-12 article styledFont">
      <a href="/learning/twil">
        <span class="font-medium ml-6 text-3xl articleTitle"> This Week I Learned </span>
      </a>
    </h3>
    <p class="styledFont mt-6 text-l">
      A list of the helpful things I learned each week.
    </p>
  </div>
</div>