<div class="flex-row ml-56">
  <h1 class="font-sans text-5xl">Learning</h1>
  <p class="mb-6 mt-6 text-xl w-5/6">
    Helpful resources as I learn engineering things. Will probably focus on Javascript and frontend things since that is what
    I use in my day-to-day work.
  </p>
  <div class="ml-6">
    <Card
      @href="/learning/ember"
      @subtitle="Trying to solidify Ember fundamentals one by one."
      @title="Ember Concepts"
    />
    <Card
      @href="/learning/twil"
      @subtitle="A list of the helpful things I learned each week."
      @title="This Week I Learned"
    />
  </div>
</div>