<div class="row">
  <h1 class="center-align emberfont learningTitle"> Using Templates in Ember </h1>
</div>
<div class="row">
  <span class="col s8 offset-s2">
    <p>
      <p class="plantContent">
        If you're beginning your dive into Ember concepts templates are a great place to start.
        They're the building block of your Ember application and interact with and are modified by most other Ember concepts.
        There's a reason the official Ember documentation begins by defining and demystiying templates.
      </p>
      <p class="emberfont learningSection"> Explain templates like I'm five</p>
      <span class="plantContent">
        Templates are a bunch of HTML and dynamic elements that get compiled by your Ember application and rendered in the DOM.
        Ember uses the Handlebars templating library.
      </span>
      <p class="emberfont learningSection"> Quick tips</p>
      <ul class="plantContent">
        <li>
          The Handlebars library will fail silently if your template looks for a property that does not exist.
          This is great for building flexible templates that can accomodate objects with small differences in properties
        </li>
        <li>
          You can use self-closing syntax for things such as `<div />` that aren't typical self-closing HTML tags.
        </li>
        <li>
          You cannot use `script` tags in your template.
        </li>
      </ul>
    </p>
  </span>
</div>