    <div class="row">
            <div class="col s2 offset-s1">
                <img class="aboutImage" src="https://i.imgur.com/Xxj5WEH.jpg"/>
                <h2 class="emberfont aboutTitle">Jason</h2>
           <p class="emberfont bodytext"> <span class="background">Likes:</span> Cheesecorn, tennis, strong coffee, my dog<br></p>
           <p class="emberfont bodytext"> <span class="background">Dislikes:</span> Whistling, people talking during movies, wide-ruled notebooks<br></p>
            </div>
            <div class="col s8 offset-s1">
                <p class="emberfont bodytext"> Hello 👋, welcome to Cheesecorn! <br></p>
                <p class="emberfont bodytext"> Here's a behind the scenes picture of my dog writing this copy that will go here: <br></p>
                <img class="col offset-s3 aboutImage" src="https://files.slack.com/files-pri/T4GFF5S9L-FG0C4KE9L/img_0068.jpg?pub_secret=e96d85916e"/>
            </div>
    </div>