<div class="font-mono flex flex-row mb-12 ml-6 md:ml-56 lg:ml-56 mt-6">
  <div class="flex-col">
    <div class="ml-56">
      <p> Hello 👋, welcome to Cheesecorn! <br></p>
      <p> Here's a behind the scenes picture of my dog writing this copy that will go here: <br></p>
    </div>
    <img class="w-1/5 ml-auto mr-auto mt-6" src="https://files.slack.com/files-pri/T4GFF5S9L-FG0C4KE9L/img_0068.jpg?pub_secret=e96d85916e"/>
  </div>
</div>