
	<div class="row">
		<p class="emberfont bodytext col s10 offset-s1"> Hello 👋, welcome to Cheesecorn!  This is me mostly writing as I explore some of my favorite works around front-end development and design.</p>
	</div>

	<div class="row">
    <h2 class="emberfont col s6 offset-s1"> Current Series</h2>
    <div class="row">
      <h3 class="article emberfont col s5 offset-s2">
        <a href="/learning">
          <span class="articletitle navitemtext"> Learning </span>
        </a>
      </h3>
      <p class="emberfont bodytext col s6 offset-s2">
        Series on things I'm learning or courses I'm taking. Hoping to cement concepts Ember, Javascript, or computer
        science concepts because sometimes it doesn't make sense immediately.
      </p>
    </div>
    <div class="row">
      <h3 class="article emberfont col s5 offset-s2">
        <a href="/stuff">
          <span class="articletitle navitemtext"> Stuff </span>
        </a>
      </h3>
      <p class="emberfont bodytext col s6 offset-s2">
        Not about anything I'm learning, however I'm hoping to include more general how-to's and things here.
      </p>
    </div>
	</div>
