
	<div class="row">
		<p class="emberfont bodytext col s10 offset-s1">
      Hello 👋, welcome to Cheesecorn!
      This is me mostly writing as I explore some of my favorite works around front-end development and design.
    </p>
	</div>
	<div class="row">
    <h1 class="emberfont navtitle col s6 offset-s1"> Current Topics</h1>
    <div class="row">
      <h3 class="article emberfont col s5 offset-s2">
        <a href="/learning">
          <span class="sectiontitle"> Learning </span>
        </a>
      </h3>
      <p class="emberfont bodytext col s6 offset-s2">
        Series on things I'm learning or courses I'm taking. Hoping to cement concepts Ember, Javascript, or computer
        science concepts because sometimes it doesn't make sense immediately.
      </p>
    </div>
    <div class="row">
      <h3 class="article emberfont col s5 offset-s2">
        <a href="/stuff">
          <span class="sectiontitle"> Stuff </span>
        </a>
      </h3>
      <p class="emberfont bodytext col s6 offset-s2">
        Like many other engineers I sometimes do things other than code. Currently this has things about my house plants.
      </p>
    </div>
	</div>
