<div class="flex-row">
  <p class="styledFont ml-56 mt-6 text-xl w-3/4">
    Hello 👋, welcome to Cheesecorn!
    This is me mostly writing as I explore some of my favorite works around front-end development and design.
  </p>
</div>
<div class="flex-row ml-56">
  <h1 class="font-sans text-6xl styledFont">Current Topics</h1>
  <div class="flex-row mb-6 ml-12 mt-6 w-3/4">
    <h3 class="w-1/3 h-12 article styledFont">
      <a href="/learning">
        <span class="font-medium ml-6 text-3xl articleTitle"> Learning </span>
      </a>
    </h3>
    <p class="styledFont mt-6 text-l">
      Series on things I'm learning or courses I'm taking. Hoping to cement concepts Ember, Javascript, or computer
      science concepts because sometimes it doesn't make sense immediately.
    </p>
  </div>
  <div class="flex-row ml-12 w-3/4">
    <h3 class="w-1/3 h-12 article styledFont">
      <a href="/stuff">
        <span class="font-medium ml-6 text-3xl articleTitle"> Stuff </span>
      </a>
    </h3>
    <p class="styledFont mt-6">
      Like many other engineers I sometimes do things other than code. Currently this has things about my house plants.
    </p>
  </div>
</div>
