<div class="flex-row">
  <p class="ml-56 mt-6 text-xl w-3/4">
    Hello 👋, welcome to Cheesecorn!
    This is me mostly writing as I explore some of my favorite works around front-end development and design.
  </p>
</div>
<div class="flex-row ml-56">
  <Card
    @href="/learning"
    @subtitle="Series on things I'm learning or courses I'm taking. Hoping to cement concepts Ember, Javascript, or computer
      science concepts because sometimes it doesn't make sense immediately."
    @title="Learning"
  />
  <Card
    @href="/plants"
    @subtitle="Simple guides for taking care of your house plants."
    @title="House Plants"
  />
</div>
