<div class="row">
  <h2 class="emberfont col s6 offset-s1"> Learning Series</h2>
  <div class="row">
    <h3 class="article emberfont col s5 offset-s2">
      <a href="/learning/ember">
        <span class="articletitle navitemtext"> Ember Concepts </span>
      </a>
    </h3>
    <p class="emberfont bodytext col s6 offset-s2">
      Trying to solidify Ember fundamentals one by one.
    </p>
  </div>
  <div class="row">
    <h3 class="article emberfont col s5 offset-s2">
      <a href="/learning/cs50">
        <span class="articletitle navitemtext"> Harvard CS50 </span>
      </a>
    </h3>
    <p class="emberfont bodytext col s6 offset-s2">
      I'm taking the Harvard CS50 computer science course. It is free online and great so far. I thought this would be
      a good place to leave some summaries every few lectures or so.
    </p>
  </div>
</div>
