<div class="row">
  <h1 class="emberfont col s6 offset-s1"> Stuff </h1>
  <p class="emberfont bodytext col s10 offset-s1">
      Currently this is a bunch of stuff about my house plants.
      Eventually this will be other non-coding things.
    </p>
  <div class="row">
    <h3 class="article emberfont col s5 offset-s2">
      <a href="/plants">
        <span class="sectiontitle"> Plants </span>
      </a>
    </h3>
    <p class="emberfont bodytext col s6 offset-s2">
      Simple guides for taking care of your house plants.
    </p>
  </div>
</div>